<header>

  <nav>


    <!-- LOGO -->

    <div class="logo">

      <a
        href="#"
        data-link="home"
      >

        <img
          src=""
          alt="TalentGoldPlus"
          class="site-logo"
          data-src="logo"
        >

      </a>

    </div>


    <!-- MOBILE MENU -->

    <button
      class="menu-toggle"
      type="button"
      aria-label="Open navigation"
    >
      ☰
    </button>


    <!-- NAVIGATION -->

    <ul class="nav-links">


      <li>
        <a
          href="#"
          data-link="home"
        >
          Home
        </a>
      </li>


      <li>
        <a
          href="#"
          data-link="about"
        >
          About
        </a>
      </li>


      <!-- SPORTS -->

      <li class="dropdown">

        <a
          href="#"
          data-link="sports"
        >
          Sports ▾
        </a>


        <ul class="dropdown-menu">

          <li>
            <a
              href="#"
              data-link="football"
            >
              Football
            </a>
          </li>

          <li>
            <a
              href="#"
              data-link="athletics"
            >
              Athletics
            </a>
          </li>

          <li>
            <a
              href="#"
              data-link="basketball"
            >
              Basketball
            </a>
          </li>

          <li>
            <a
              href="#"
              data-link="rugby"
            >
              Rugby
            </a>
          </li>

          <li>
            <a
              href="#"
              data-link="tennis"
            >
              Tennis
            </a>
          </li>

          <li>
            <a
              href="#"
              data-link="combat"
            >
              Combat Sports
            </a>
          </li>

          <li>
            <a
              href="#"
              data-link="athletes"
            >
              More Sports
            </a>
          </li>

        </ul>

      </li>


      <!-- COMMUNITY -->

      <li>

        <a
          href="#"
          data-link="community"
        >
          Community
        </a>

      </li>


      <!-- OPPORTUNITIES -->

      <li class="dropdown">

        <a
          href="#"
          data-link="opportunities"
        >
          Opportunities ▾
        </a>


        <ul class="dropdown-menu">

          <li>

            <a
              href="#"
              data-link="events"
            >
              Events
            </a>

          </li>


          <li>

            <a
              href="#"
              data-link="opportunitiesPage"
            >
              Opportunities
            </a>

          </li>


          <li>

            <a
              href="#"
              data-link="raiseFunds"
            >
              Fundraising
            </a>

          </li>

        </ul>

      </li>


      <!-- MARKETPLACE -->

      <li>

        <a
          href="#"
          data-link="marketplace"
        >
          Marketplace
        </a>

      </li>


      <!-- NOTIFICATIONS -->

      <li
        id="notificationsNavItem"
        class="notifications-nav-item"
        hidden
      >

        <a
          href="#"
          data-link="notifications"
          class="notifications-nav-link"
          aria-label="Notifications"
        >

          <svg
            class="notification-bell-icon"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >

            <path
              d="M18 8a6 6 0 0 0-12 0c0 7-3 7-3 9h18c0-2-3-2-3-9"
            ></path>

            <path
              d="M13.73 21a2 2 0 0 1-3.46 0"
            ></path>

          </svg>


          <span
            id="notificationsCount"
            class="notification-badge"
            hidden
          >
            0
          </span>

        </a>

      </li>


      <!-- PROFESSIONALS -->

      <li class="dropdown">

        <a
          href="#"
          data-link="services"
        >
          Professionals ▾
        </a>


        <ul class="dropdown-menu">

          <li>
            <a href="#" data-link="coaches">
              Coaches
            </a>
          </li>

          <li>
            <a href="#" data-link="mentors">
              Mentors
            </a>
          </li>

          <li>
            <a href="#" data-link="nutritionists">
              Nutritionists
            </a>
          </li>

          <li>
            <a href="#" data-link="performance">
              Performance Specialists
            </a>
          </li>

          <li>
            <a href="#" data-link="physiotherapists">
              Physiotherapists
            </a>
          </li>

          <li>
            <a href="#" data-link="psychologists">
              Psychologists
            </a>
          </li>

          <li>
            <a href="#" data-link="recovery">
              Recovery Experts
            </a>
          </li>

          <li>
            <a href="#" data-link="sportsTherapists">
              Sports Therapists
            </a>
          </li>

          <li>
            <a href="#" data-link="wellbeing">
              Wellbeing Specialists
            </a>
          </li>

        </ul>

      </li>


      <!-- PARTNERS -->

      <li>

        <a
          href="#"
          data-link="partners"
        >
          Partners
        </a>

      </li>


      <!-- AUTH -->

      <li id="authNavItem">

        <a
          href="#"
          data-link="login"
        >
          Login
        </a>

      </li>


    </ul>


    <!-- JOIN -->

    <a
      id="joinBtn"
      href="#"
      data-link="register"
      class="btn-primary nav-btn"
    >
      Join Now
    </a>


  </nav>

</header>